.card {
    position: relative;
    background-color: #f2f2f2;    
    
  }  
  .card-media {
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }  
  
  