.loading-overlay {
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
  transform: scale(1); /* Tamaño original */
  opacity: 1;
}

.loading-overlay.closed {
  opacity: 0;
  transform: scale(0.5); /* Reducir el tamaño al 50% */
  backdrop-filter: blur(0);
  transition: all 0.5s ease;
  display: none;
}

.ReactModal__Body--open .loading-overlay {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 4.8s ease;
}
